@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');
// VARIABLE SECTION

// Main BG Colors
$mainBGColor: #9b0909;
$mainBGColorTrans: #9b0909b4;
$subBGColor: #d53d3d;
// Section colors
$sectionColorDark: #443737;
$sectionColorDarkHL: #846b6b;
$sectionColorLight: #e4b4b4;
// Highlight Color
$highlightColor: #fff1f1;

// Variable Heights
$headerHeightMobPort: 3vh;
$headerHeightMobLand: 5vh;

// ALL ENCOMPASING LAYOUT

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	color: white;

	// outline: 1px solid red;
}

html {
	height: 100%;

	body {
		position: absolutes;
		height: 100%;
		// background: linear-gradient(to top, $mainBGColor, $subBGColor);
		background: linear-gradient(to top, rgb(15, 15, 15), rgb(75, 75, 75));
		background-attachment: fixed;
	}
}

@media all {
	header {
		width: 100%;

		.nav-bar {
			width: 100%;
			height: $headerHeightMobPort;
			padding: 1em 0 1em 0;
			background-color: $sectionColorDark;
			box-shadow: 0 0 3vh rgb(0, 0, 0);
			border-radius: 0 0 1em 1em;

			ul {
				display: flex;
				justify-content: space-evenly;

				.nav-item {
					list-style: none;
					a {
						text-decoration: none;

						&:hover {
							color: red;
						}
					}
				}
			}
		}
	}

	.wrapper-img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		background: url('../images/pexels-marko-blazevic-2708981.jpg')
			no-repeat center;
		background-size: cover;
		opacity: 50%;
		height: 75vh;
		width: 100%;

		box-shadow: 0 0 5em black;
		border-bottom: 1px solid black;
	}

	main {
		.welcome {
			height: calc(100vh - $headerHeightMobPort);
			padding: 3em 1em 0 1em;

			.main-section {
				.intro {
					text-align: center;
				}
				.info-box {
					h2 {
						margin-top: 2.5em;
						text-align: center;
					}
					.flex-holder {
						display: flex;
						justify-content: space-evenly;

						.info {
							display: flex;
							background-color: $sectionColorDark;
							text-align: center;
							text-decoration: none;
							margin: 3em 0;
							width: 30vw;
							height: fit-content;
							padding: 1em;
							&:hover p {
								color: red;
							}
							h2 {
								margin-left: 1em;
							}
						}
					}
				}
			}

			#item-input {
				display: block;
				margin: auto;
				color: black;
			}
		}
		.tech-stack {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			height: 50vh;
			h2 {
				margin-left: 1.5em;
			}
			.tech {
				margin-top: 1em;
				width: 100%;
				background-color: $sectionColorDark;
				padding: 2em 0;

				details {
					max-width: 80%;
					margin: 0 1em;

					summary {
						color: rgba(255, 255, 255, 0.5);
					}
				}
				details[open] > summary {
					color: white;
				}
				details[open] p {
					margin: 0 0 0.5em 1em;
					font-size: 0.9em;
				}
			}
			.extra-detail {
				text-align: center;
				color: #ffffff85;
				margin: 3em 1em;
				font-size: 0.9em;
			}
		}

		.game-wrapper {
			width: 100%;
			display: grid;

			figure {
				width: 30vh;
				height: 20vh;
			}
		}

		.home {
			h1 {
				text-align: center;
				margin: 1.5em 0 0.25em 0;
				font-size: 2em;
			}
			.title-line {
				width: 50%;
				margin: auto;
				background: linear-gradient(
					to right,
					transparent,
					white,
					transparent
				);
				margin-bottom: 5em;
			}
			.question1 {
				display: inline-block;
				background-color: $mainBGColorTrans;
				margin-bottom: 3em;
				padding: 1em 2em 1em 2em;
				border-radius: 0 5em 5em 0;
				box-shadow: 0 5px 1em rgba(0, 0, 0, 0.5);
				font-size: 0.9em;

				animation: leftSlide 1s ease-out forwards;

				@keyframes leftSlide {
					0% {
						opacity: 0;
						transform: translateX(-70vw);
					}
					100% {
						opacity: 100%;
						transform: translateX(0);
					}
				}
			}
			.first-cover {
				float: right;
				background-color: $mainBGColorTrans;
				margin-bottom: 1em;
				padding: 1em 2em 1em 2em;
				border-radius: 5em 0 0 5em;
				opacity: 0;
				transform: translateX(50vw);
				box-shadow: 0 5px 1em rgba(0, 0, 0, 0.5);
				font-size: 0.9em;

				animation: rightSlide 1s 1s ease-out forwards;

				@keyframes rightSlide {
					0% {
						opacity: 0;
						transform: translateX(50vw);
					}
					50% {
					}
					100% {
						opacity: 100%;
						transform: translateX(0);
					}
				}
			}

			.promo {
				display: flex;
				width: 100%;

				align-items: center;
				justify-content: center;

				h2 {
					background-color: $sectionColorDark;
					margin: 5vw 7vh 30vh 7vh;
					font-size: 4vw;
					text-align: center;
					padding: 2em 2em 2em 2em;
					font-size: 1em;
					max-width: 50vw;
					max-height: min-content;
					margin: 5em 2em 5em 2em;
					border-radius: 1em;
					box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

					&::before {
						content: '';
						background-color: $sectionColorDark;
						width: 100%;
						height: 5em;

						z-index: -1;
						position: absolute;
						left: 0;
					}
				}
			}

			img {
				width: 100%;
				box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
			}
			.question-p {
				text-align: center;
				margin: 5em 1em;
				font-size: 1.25em;

				span {
					font-weight: 600;
					color: red;
				}
				.got-you {
					opacity: 0;
					transition: all 2s;
				}
				.fade-animated {
					opacity: 100%;
				}
			}
		}

		.top {
			margin-top: 3em;
			h1 {
				font-size: 2em;
				margin: auto;
				text-align: center;
				grid-area: games;
			}
			select {
				background-color: rgba(0, 0, 0, 0.5);
				height: 2.3em;
				width: 25vw;
				max-width: 10em;

				accent-color: black;
			}
			.search-area {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 3vh;
				margin-top: 2vh;
				.search {
					.search-btn {
						width: 3em;
						height: 3em;
						background-color: rgba(0, 0, 0, 0.5);
					}
					.search-game {
						background-color: rgba(0, 0, 0, 0.5);

						margin: 0 1vw;
						width: 10em;
						height: 2em;

						caret-color: $subBGColor;
					}
				}
			}
		}
		.bottom {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.games {
			width: 100%;
			margin: 3em 0;
			display: flex;
			flex-direction: column;
			.games-margin {
				width: 90%;
				max-width: 1700px;
				margin: auto;
				background-color: rgba(0, 0, 0, 0.25);

				.container {
					width: 97%;
					padding: 1.5em 0;
					gap: 2vw;
					margin: auto;
					border-radius: 1em;
					display: flex;
					align-self: center;
					align-content: flex-start;
					align-items: flex-start;
					justify-content: center;
					flex-wrap: wrap;

					.game-item {
						display: flex;
						flex-direction: column-reverse;
						justify-content: space-between;
						align-items: center;

						background-color: rgba(0, 0, 0, 0.25);
						opacity: 10%;
						transform: scale(0.75);
						border: none;
						transition: all 1s;
						img {
							box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
							width: 20vw;
						}
					}
					.fade-animated {
						opacity: 100%;
						transform: scale(1);
					}
				}
			}
		}

		.game {
			width: 100%;
			display: none;

			.game-wrapper {
				display: grid;
				grid-template-rows: 1fr 1.25fr;
				grid-template-columns: repeat(3, 1fr);
				width: 90%;
				height: 75vh;
				margin: auto;
				margin-top: 3vw;
				margin-bottom: 3vw;
				background-color: rgba(0, 0, 0, 0.25);
				border-radius: 1em;

				.game-img-container {
					grid-row: 1;
					margin: auto;
					width: 100%;
					height: fit-content;

					.game-img {
						display: block;
						width: 90%;
						margin: auto;
						box-shadow: 0 0 5em rgba(0, 0, 0, 0.5);
					}
				}
				.basic-info {
					grid-column: 2 / 4;
					border: 1px solid rgba(255, 255, 255, 0.25);
					box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
					border-radius: 1em;
					margin: 3em 3em 3em 0;
					padding: 1em;

					h1 {
						font-size: 24px;
						margin-bottom: 0.5em;
					}
					p {
						font-weight: 600;
						margin: 0.25em 0 0.25em 0;

						span {
							font-weight: 400;
						}
					}
				}
				.game-screenshots {
					grid-column: 1 / 4;
					grid-row: 2;
					display: flex;
					width: 93%;
					height: 85%;
					margin: auto;
					margin-top: 0;
					overflow-x: auto;
					align-items: center;
					gap: 1vw;

					border: 1px solid rgba(255, 255, 255, 0.25);
					box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.5);
					border-radius: 1em;

					.game-screenshot {
						width: 27vw;
						height: fit-content;
					}
				}
			}
			.back-parent {
				width: 100%;

				.back-btn {
					display: block;
					background-color: rgba(0, 0, 0, 0.25);
					border-radius: 50%;
					border: none;
					font-size: 3em;
					width: 2em;
					height: 2em;
					margin: auto;
				}
			}
		}
	}
	.btn-holder {
		background: linear-gradient(
			to right,
			transparent,
			rgba(0, 0, 0, 0.5),
			transparent
		);
		text-align: center;
		margin: 0.5em 0 1em 0;
		width: 100%;
		button {
			margin: 0.25em 0.5em;
			width: 1.25em;
			background-color: transparent;
			border: none;
			text-decoration: none;
			font-size: 4em;
		}
	}
	.page-holder {
		p {
			margin: 1em 0;
			text-align: center;
			font-size: 2em;
		}
	}

	footer {
		margin-top: 3em;
		padding: 1em 0;
		border-top: 1px solid white;
		box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
		background-color: $sectionColorDark;
		width: 100%;

		.to-top {
			position: fixed;
			z-index: 1;
			left: 2vw;
			bottom: 5vh;
			font-size: 4em;
			color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 50%;
			width: 1.5em;
			border: none;
		}
		#social-media {
			width: 100%;
			padding-bottom: 1em;

			.sm-parent {
				display: flex;
				align-items: center;
				justify-content: center;
				transform: translateX(-20vw);
				opacity: 0;
				gap: 2em;

				transition: all 1s;
				#github {
					background: url('../images/github-social-logo.png')
						no-repeat center;
					background-size: contain;
					height: 2.5em;
					width: 2.5em;
				}
				#linkedIn {
					background: url('../images/Linkedin-logo-on-transparent-Background-PNG-.png')
						no-repeat center;
					height: 2.5em;
					width: 2.5em;
				}
			}
			.left-animated {
				opacity: 100%;
				transform: translateX(0);
			}
		}
		a {
			display: block;
			text-align: center;
			color: rgb(199, 199, 199);
		}
		p {
			text-align: center;
		}
	}
}

@media all and (min-width: 897px) {
	main .games .games-margin .container .game-item:hover {
		border: 1px solid white;
		box-shadow: inset 0 0 9999px red, 0 0 3em black;
		transform: scale(1.15);
	}
	.home {
		.wrapper-img {
			display: block;
			height: 100%;
		}
		.title-line {
			width: 300px;
		}
		figure {
			display: grid;
			place-items: center;
			margin-top: 10vh;
			img {
				width: 100%;
				max-width: 500px;
				box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
				border: 1px solid rgba(0, 0, 0, 0.5);
			}
		}
	}
}
@media all and (min-height: 1100px) {
	main {
		.bottom-questions {
			height: 40vh;
		}
		.tech-stack {
			min-height: 60vh;
		}
	}
}
@media all and (min-width: 1100px) {
	main .games .games-margin .container .game-item img {
		width: 20vw;
	}
	main .game .game-wrapper {
		.game-img-container .game-img {
			max-width: 430px;
		}
		.game-screenshots .game-screenshot {
			max-width: 430px;
		}
	}
}

@media all and (max-width: 896px) {
	main {
		.game {
			margin: 5vh 0;
			.game-wrapper {
				display: flex;
				flex-direction: column;
				height: fit-content;
				gap: 3vh;
				margin-bottom: 5vh;
				.game-img-container {
					margin-top: 3vh;
					.game-img {
						display: block;
						width: 90%;
						margin: auto;
					}
				}
				.basic-info {
					margin: auto;
					width: 85%;
				}
				.game-screenshots {
					flex-direction: column;
					width: 85%;
					height: 300px;
					margin: auto;
					.game-screenshot {
						width: 90%;
					}
				}
			}
		}
	}
}
@media all and (min-width: 416px) and (max-width: 896px) {
	.home {
		.wrapper-img {
			height: 75vh;
		}
		.title-line {
			width: 50%;
			max-width: 500px;
		}
	}
	main .games .games-margin .container .game-item img {
		width: 42.5vw;
	}
}
//Medium Screen Sizes
@media all and (min-width: 637px) and (max-width: 1100px) {
	main .games .games-margin .container .game-item img {
		width: 27.5vw;
	}
}

// SMALL SCREENS
@media all and (max-width: 415px) {
	.home {
		h1 {
			font-size: 2em;
		}

		.question1 {
			margin-bottom: 3em;
			font-size: 0.9em;
		}
		.first-cover {
			margin-bottom: 1em;
			font-size: 0.9em;
		}
	}
	main .games .games-margin .container {
		flex-direction: column;
		align-content: center;
		.game-item {
			width: 90%;
			img {
				width: 100%;
			}
		}
	}
}
