* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

html {
  height: 100%;
}

html body {
  position: absolutes;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#090c9b), to(#3d52d5));
  background: linear-gradient(to top, #090c9b, #3d52d5);
  background-attachment: fixed;
}

@media all and (max-width: 415px) and (orientation: portrait) {
  header {
    width: 100%;
    -webkit-box-shadow: 0 0 3vh black;
            box-shadow: 0 0 3vh black;
    border-radius: 1em;
  }
  header .nav-bar {
    width: 100%;
    height: 3vh;
    padding: 1em 0 1em 0;
    background-color: #3c3744;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .nav-bar ul .nav-item {
    list-style: none;
  }
  header .nav-bar ul .nav-item a {
    text-decoration: none;
  }
  header .nav-bar ul .nav-item a:hover {
    color: red;
  }
  .welcome {
    height: calc(100vh - $headerHeightMobPort);
    padding: 3em 1em 0 1em;
  }
  .welcome .main-section .intro {
    text-align: center;
  }
  .welcome .main-section h2 {
    text-align: center;
    margin: 3em 0 1em 0;
  }
  .welcome .main-section .flex-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .welcome .main-section .flex-holder .info {
    background-color: #3c3744;
    text-align: center;
    width: 30vw;
    height: 30vw;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .welcome .main-section .flex-holder .info:hover p {
    color: red;
  }
  .welcome .main-section .flex-holder .info p {
    display: block;
    margin: auto;
  }
  .welcome #item-input {
    display: block;
    margin: auto;
    color: black;
  }
  .info {
    margin-top: 3em;
  }
  .info h2 {
    margin-left: 1em;
  }
  .info .used-container {
    margin-top: 1em;
    width: 100%;
    background-color: #3c3744;
    padding: 2em;
  }
  main .games {
    width: 100%;
    margin-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .games .top {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 'games games search search' 'games games bar select';
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 4em;
  }
  main .games .top h1 {
    font-size: 2em;
    margin: auto;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: games;
  }
  main .games .top label {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: search;
  }
  main .games .top input {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: bar;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10em;
    height: 2em;
  }
  main .games .top select {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: select;
    background-color: rgba(0, 0, 0, 0.5);
    height: 2.3em;
    width: 5em;
  }
  main .games .top .search-games {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: bar;
  }
  main .games .container {
    width: 90%;
    max-height: 475vh;
    padding: 1.5em 0;
    border-radius: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.1em;
    background-color: rgba(0, 0, 0, 0.25);
  }
  main .games .container .game-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 75vw;
    height: 47.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.25);
  }
  main .games .container .game-item img {
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    width: 75vw;
    height: 42vw;
  }
  main .btn-holder {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(0, 0, 0, 0.5)), to(transparent));
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
    text-align: center;
    margin: 0.5em 0 1em 0;
  }
  main .btn-holder button {
    margin: 0.25em 0.5em;
    width: 1.25em;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 4em;
  }
  .page-holder p {
    margin: 1em 0;
    text-align: center;
    font-size: 2em;
  }
  footer {
    margin-top: 3em;
    padding: 1em 0;
    border-top: 1px solid white;
    -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
    background-color: #3c3744;
    width: 100%;
  }
  footer a {
    display: block;
    text-align: center;
    color: #c7c7c7;
  }
  footer p {
    text-align: center;
  }
}

@media all and (max-width: 896px) and (orientation: landscape) {
  header {
    width: 100%;
  }
  header .nav-bar {
    width: 100%;
    height: 5vh;
    padding: 1em 0 1em 0;
    background-color: #3c3744;
  }
  header .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .nav-bar ul .nav-item {
    list-style: none;
  }
  header .nav-bar ul .nav-item a {
    text-decoration: none;
  }
  header .nav-bar ul .nav-item a:hover {
    color: red;
  }
  .welcome {
    height: calc(100vh - $headerHeightMobPort);
    padding: 3em 1em 0 1em;
  }
  .welcome .main-section .intro {
    text-align: center;
  }
  .welcome .main-section h2 {
    margin: auto;
  }
  .welcome .main-section .mobile-land-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .welcome .main-section .mobile-land-container .flex-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .welcome .main-section .mobile-land-container .flex-holder .info {
    background-color: #3c3744;
    text-align: center;
    width: 20vw;
    height: 20vw;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .welcome .main-section .mobile-land-container .flex-holder .info:hover p {
    color: red;
  }
  .welcome .main-section .mobile-land-container .flex-holder .info p {
    margin: auto;
  }
  .info {
    margin-top: 3em;
  }
  .info h2 {
    margin-left: 1em;
  }
  .info .used-container {
    margin-top: 2em;
    width: 100%;
    background-color: #3c3744;
    padding: 2em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 4em;
  }
}
/*# sourceMappingURL=style.css.map */